<a href="https://colab.research.google.com/github/Yusuf5001/Python-/blob/main/Python_Workshop_30_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Python Workshop - 30.11.2021</center></h1>

### Question 1
```
Write a function that returns True if every consecutive sequence of ones is followed by a consecutive sequence of zeroes of the same length.

same_length("110011100010") ➞ True

same_length("101010110") ➞ False

same_length("111100001100") ➞ True

same_length("111") ➞ False
```

In [ ]:
num = "110011100010"
while "10" in num or "01" in num:
    num = num.replace("10","").replace("01","")
if num == "":
    print("True")
else:
    print("False")

True

In [ ]:
num = "101010110"
while "10" in num or "01" in num:
    num = num.replace("10","").replace("01","")
if num == "":
    print("True")
else:
    print("False")

False

### Question 2
```
Write a function that groups a string into parentheses cluster. Each cluster should be balanced.
split("()()()") ➞ ["()", "()", "()"]

split("((()))") ➞ ["((()))"]

split("((()))(())()()(()())") ➞ ["((()))", "(())", "()", "()", "(()())"]

split("((())())(()(()()))") ➞ ["((())())", "(()(()()))"]
```

In [ ]:
string = "((()))(())()()(()())"
left, right = 0,0
summ = ""
listem = []
for i in string:
  if i == "(":
    left +=1
    summ +=i
  else:
    right +=1
    summ +=i
  if left == right:
    listem.append(summ)
    left, right, summ = 0,0,""
print(listem)

['((()))', '(())', '()', '()', '(()())']

### Question 3
```
Create a function that returns a list containing the prime factors of whatever integer is passed to it.

prime_factors(20) ➞ [2, 2, 5]

prime_factors(100) ➞ [2, 2, 5, 5]

prime_factors(8912234) ➞ [2, 47, 94811]
```

In [ ]:
no = int(input("Pls enter a number: "))
x=2 
factors = []
while no >1:
  if no%x == 0:
    no = no // x
    factors.append(x)
  else:
    x +=1
print(factors)

Pls enter a number: 766
[2, 383]

### Question 4
```
Create a function that takes a number num and returns each place value in the number.

num_split(39) ➞ [30, 9]

num_split(-434) ➞ [-400, -30, -4]

num_split(100) ➞ [100, 0, 0]
```

In [ ]:
entry =int(input("Pls enter a number:"))

if entry<0:
  negative = True
  entry = abs(entry)
else:
  negative = False

entry = str(entry) 
lisem1 = []
length = len(entry)-1

for i in entry:
  lisem1.append(i+"0"*length)
  length -= 1

if negative:
  lisem1 = [-int(i) for i in lisem1]
else:
  lisem1 = [int(i) for i in lisem1]
print(lisem1)

Pls enter a number:-4212
[-4000, -200, -10, -2]

### Question 5
```
Create a function that takes an integer n and returns the factorial of factorials. 

See below examples for a better understanding:

fact_of_fact(4) ➞ 288
#4! * 3! * 2! * 1! = 288

fact_of_fact(5) ➞ 34560

fact_of_fact(6) ➞ 24883200
```

In [ ]:
number = 5
ress = 1

for i in range(2,number+1):
  number = 1
  for j in range(1,i+1):
    number *=j
  ress *= number  
print(ress)

34560

### Question 6
```
You are given a list which may contain sublists. Your task is to find the depth of the deepest sublist.

[a] = 1 depth
[[a]] = 2 depth
[[[a]]] = 3 depth, etc
Examples
deepest([1, [2, 3], 4, [5, 6]]) ➞ 2

deepest([[[[[[[[[[1]]]]]]]]]]) ➞ 10

deepest([1, 4, [1, 4, [1, 4, [1, 4, [5]]]]]) ➞ 5
```

In [5]:
lst = [[],[[[[[5]]]]],[[[[[[6]]]]]],[[[[[[[[7]]]]]]]]]

counter = 0
listem = []
lst = str(lst)
print(lst)
for i in lst:
  if i == "[":
    counter +=1
    listem.append(counter)
  elif i =="]":
    counter -=1
    listem.append(counter)
print(max(listem))

[[], [[[[[5]]]]], [[[[[[6]]]]]], [[[[[[[[7]]]]]]]]]
9

### Question 7
```
"Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.

Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

For n = 5: 
Loves me, Loves me not, Loves me, Loves me not, LOVES ME
```

In [10]:
n = 7
text1 = "Loves me"
res = ""
for i in range(1,n+1):
  if i%2==0:
    a = text1 + " not, "
  else:
    a = text1 + ","
  if i!=n:
    res += a
  else:
    res += a.upper()
res = res.strip(", ")
res

'Loves me,Loves me not, Loves me,Loves me not, Loves me,Loves me not, LOVES ME'

### Question 8
```
Given a string of size n, write functions to perform following operations on string.
Left (Or anticlockwise) rotate the given string by d elements (where d <= n).
Right (Or clockwise) rotate the given string by d elements (where d <= n). 
For example given word: "Hippopotamus"  

result =
Left Rotation :  opotamusHipp
Right Rotation :  amusHippopot
```

In [13]:
my_text = "Hippopotamus"
n = 5

left = my_text[n:] + my_text[:n]

right =my_text[:-n-1:-1][::-1] + my_text[:len(my_text)-n]
print(left)
print(right)

potamusHippo
tamusHippopo

### Question 9
```z
Given two strings s and t, create a function to determine if they are isomorphic. Two strings are isomorphic if the characters in s can be replaced to get t. All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character but a character may map to itself.

Examples
is_isomorphic("egg", "add") ➞ True

is_isomorphic("aba", "baa") ➞ False

is_isomorphic("paper", "title") ➞ True
```

In [15]:
x = "paperbnmmmnn" 
y = "titlesdfffod"
dictt = {}
result = True
if len(x) != len(y):
  result = False
else: 
  for i in range(len(x)):
    if x[i] not in dictt:
      dictt[x[i]]= y[i]
    else:
      if dictt[x[i]] != y[i]:
        result = False
print(result)

False

In [16]:
x = "paperbnmmmnn" 
y = "titlesdfffnd"
dictt = {}
result = True
if len(x) != len(y):
  result = False
else: 
  for i in range(len(x)):
    if x[i] not in dictt:
      dictt[x[i]]= y[i]
    else:
      if dictt[x[i]] != y[i]:
        result = False
print(result)

False

### Question 10
```
Imagine you took all the numbers between 0 and n and concatenated them together into a long string. How many digits are there between 0 and n? Write a function that can calculate this.
There are 0 digits between 0 and 1, there are 9 digits between 0 and 10 and there are 189 digits between 0 and 100.
Examples digits(1) ➞ 0
digits(10) ➞ 9
digits(100) ➞ 189
digits(2020) ➞ 6969
Notes The numbers are going to be rather big so creating that string won't be practical.
```

In [18]:
n = 12
countt = 0
for i in range(1,n):
  countt +=1
  while i//10 !=0:
    i = i//10
    countt +=1
print(countt)

13

### Question 11
```
Print square pattern with alphabet symbols: 

input: pattern('A', 7)

output :
A A A A A A A 
B B B B B B B 
C C C C C C C 
D D D D D D D 
E E E E E E E 
F F F F F F F 
G G G G G G G 
```

In [21]:
harf = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
s = "X"
n = 10
locate = harf.index(s)
strr = ""
for i in range(n):
  strr += "".join([harf[locate] for j in range(n)]) + "\n"
  locate +=1
  if locate > len(harf)-1:
    locate = locate - len(harf)

print(strr)

XXXXXXXXXX
YYYYYYYYYY
ZZZZZZZZZZ
AAAAAAAAAA
BBBBBBBBBB
CCCCCCCCCC
DDDDDDDDDD
EEEEEEEEEE
FFFFFFFFFF
GGGGGGGGGG

### Question 12
```
Given a 3x3 matrix of a completed tic-tac-toe game, create a function that returns whether the game is a win for "X", "O", or a "Draw", where "X" and "O" represent themselves on the matrix, and "E" represents an empty spot.

Examples
tic_tac_toe([
  ["X", "O", "X"],
  ["O", "X",  "O"],
  ["O", "X",  "X"]
]) ➞ "X"

tic_tac_toe([
  ["O", "O", "O"],
  ["O", "X", "X"],
  ["E", "X", "X"]
]) ➞ "O"

tic_tac_toe([
  ["X", "X", "O"],
  ["O", "O", "X"],
  ["X", "X", "O"]
]) ➞ "Draw"
```

In [31]:
game =[ 
       ["O", "X", "O"],
       ["O", "X", "X"],
       ["E", "X", "X"]
       ]
result = "Draw"

vertical = list(map(lambda *x: [*x], *game))
print(vertical)
for i in range(len(game)):
  if len(set(game[i]))==1 and game[i][0] !="E":
    result = game[i][0]
    break
  elif len(set(vertical[i]))==1 and vertical[i][0] !="E":
    result = vertical[i][0]
    break
if result == "Draw":
  if game == [0][0] == game[1][1] == game[0][0] and game[0][0] != "E":
    result = game[0][0]
  elif game == [0][2] == game[1][1] == game[2][0] and game[0][2] != "E":
    result = game[0][2]

print(result)

[['O', 'O', 'E'], ['X', 'X', 'X'], ['O', 'X', 'X']]
X

In [22]:
list(map(lambda x,y,z: x+y+z, ["1","2"], ["3","4"], ["5","6"]))

['135', '246']

### Question 13
```
This problem was asked by Google.
The power set of a set is the set of all its subsets. Write a function
that, given a set, generates its power set.
For example, given the set {1, 2, 3}, it should return {{}, {1}, {2}, {3},
{1, 2}, {1, 3}, {2, 3}, {1, 2, 3}}.
You may also use a list or array to represent a set.
```

In [32]:
lste = [1, 2, 3, 4]
arry = [[]]
for i in lste:
  for j in arry:
    arry = arry +[j+[i]]
    print(arry)

[[], [1]]
[[], [1], [2]]
[[], [1], [2], [1, 2]]
[[], [1], [2], [1, 2], [3]]
[[], [1], [2], [1, 2], [3], [1, 3]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4], [3, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4], [3, 4], [1, 3, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4], [3, 4], [1, 3, 4], [2, 3, 4]]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4], [3, 4], [1, 3, 4], [2, 3, 4], [1, 2, 3, 4]]

### Question 14
```
This problem was asked by Microsoft.
A number is considered perfect if its digits sum up to exactly 10. Given a positive integer n, return the n-th perfect number.
For example, given 1, you should return 19. Given 2, you should return 28.
```

### Question 15
```
An identity matrix is defined as a square matrix with 1s running from the top left of the square to the bottom right. The rest are 0s. The identity matrix has applications ranging from machine learning to the general theory of relativity.

Create a function that takes an integer n and returns the identity matrix of n x n dimensions. For this challenge, if the integer is negative, return the mirror image of the identity matrix of n x n dimensions.. It does not matter if the mirror image is left-right or top-bottom.

Incompatible types passed as n should return the string "Error".
```

### Question 16
```
This problem was asked by Yelp.
Given a mapping of digits to letters (as in a phone number), and a digit string,return all possible letters the number could represent. You can assume each valid number in the mapping is a single digit.
For example if {“2”: [“a”, “b”, “c”], 3: [“d”, “e”, “f”], …} then “23” should return [“ad”, “ae”, “af”, “bd”, “be”, “bf”, “cd”, “ce”, “cf"].
```