<a href="https://colab.research.google.com/github/Yusuf5001/Python-/blob/main/SELF_STUDY_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [2]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [3]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [4]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [5]:
l = [None] * 10
print(len(l))

10

In [6]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [7]:
languages = ['Python', 'Java', 'C++', 'French', 'C']
languages.pop()

'C'

In [8]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [9]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

zara

Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [15]:
a = int(input("Pls enter 1st number: "))
b = int(input("Pls enter 2nd number: "))
c = int(input("Pls enter 3rd number: "))

if a==b or b==c or a==c:
  print(0)
else:
  print(a+b+c)

Pls enter 1st number: 2
Pls enter 2nd number: 4
Pls enter 3rd number: 1
7

Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.

Sample String : 'w3resource'

Expected Result : 'w3ce'

Sample String : 'w3'

Expected Result : 'w3w3'

Sample String : ' w'

Expected Result : Empty String

In [21]:
inn = input("Pls enter your word: ")

if len(inn)<=2:
  print(" ")
else:
  print(inn[:2]+inn[-2:])

Pls enter your word: wq

Let's solve questions on creating different pyramid shapes today Program to print half pyramid a using numbers.(User enter the numbers of rows)

![image.png]()

In [34]:
a = int(input("How many floors of your pyramid?: "))
for i in range(1,a+1):
  for x in range(1,i+1):
    print(x, end=" ")
  print()

How many floors of your pyramid?: 4
1
1 2
1 2 3
1 2 3 4

Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return.

In [37]:
a = int(input("Pls enter 1st number: "))
b = int(input("Pls enter 2nd number: "))

sum = a+b
if sum>15 and sum<20:
  print(sum)

Pls enter 1st number: 12
Pls enter 2nd number: 5
17