<a href="https://colab.research.google.com/github/Yusuf5001/Python-/blob/main/SELF_STUDY_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
price = "ABCD"
if price <= "abcd":
  print("ucuz")
else:
  print("pahali")

ucuz

In [ ]:
a= []
b = [a.append(i) for i in range(5)]
print(b)

[None, None, None, None, None]

In [ ]:
  condition = 66.3
  while condition:
    print(condition)
    condition -=0.5
    break
  # sonsuz

66.3

In [ ]:
nomber = 0
while nomber<6:
  print(nomber)
  nomber +=1
print("already bigger than 6")

0
1
2
3
4
5
already bigger than 6

In [ ]:
nomber = 0
while nomber<6:
  nomber +=1
  print(nomber)
print("already bigger than 6")

1
2
3
4
5
6
already bigger than 6

In [ ]:
listem = ["a", "b", "c", "d"]
a = 0
while a < len(listem):
  a +=1
  print(f"{a} square equals to {a**2}")

1 square equals to 1
2 square equals to 4
3 square equals to 9
4 square equals to 16

In [ ]:
from datetime import datetime

def times():
  print(datetime.today())
times()

2021-11-28 18:45:32.753995

In [ ]:
def initials():
  first = input("Pls enter your first name: ")
  last = input("Pls enter your last name: ")
  first = first[0]
  last = last[0]
  return first + last
initials()

Pls enter your first name: 21
Pls enter your last name: 21

'22'

In [ ]:
girdi = list(map(int, input("enter a number").split()))
print(girdi)

enter a number2 21 21
[2, 21, 21]

In [ ]:
girdi = input("enter a number: ").split()
bos = []
for i in girdi:
  i = int(i)
  bos.append(i)
print(bos)

enter a number: 2 321 321
[2, 321, 321]

In [ ]:
def comparison(x):
  counter = 0
  longest = ""
  for i in x:
    if len(i)>counter:
      counter = len(i)
      longest = i
  print("longest is ", longest)
girdi = list(map(str, input("pls enter sentences: ").split()))
comparison(girdi)

enter a numberyusuf satilmis
longest is  satilmis

In [ ]:
def bird(etki, tuyler="puf", action="cik cik", renk="Leeds yesili"):
  print("asdasdsa", etki, 21312321)
  print("wqeqweq",etki, "edqwqw")
  print("qweqweqw",renk)
  print("qweqweqwe",tuyler)
bird(etki="kill", renk="sari")
print()
bird("qweq", "dqwe", "adawe")

asdasdsa kill 21312321
wqeqweq kill edqwqw
qweqweqw sari
qweqweqwe puf

asdasdsa qweq 21312321
wqeqweq qweq edqwqw
qweqweqw Leeds yesili
qweqweqwe dqwe

In [ ]:
entry = input("pls enter a number:")
check = list(range(1,entry+1))
for i in check:
  if entry%i==0:

In [ ]:
girdi  = input("pls enter a sentence:")
new = girdi.split()
counter = 0
longest = 0
while counter < len(new):
  a = new[counter]
  counter +=1
  if len(a) > longest:
    longest = len(a)
  else:
    longest = longest
print(longest)

pls enter a sentenceben sen biz
3

In [ ]:
liste = [1,2,3,4,5]
bos = []
i = 0
while i <= len(liste):
  bos.append(i)
  i +=1
print(bos)

[0, 1, 2, 3, 4]

In [ ]:
liste = [1,2,3,4,5]
bos = []
i = 0
while i < len(liste):
  bos.append(liste[i])
  i +=1
print(bos)

[1, 2, 3, 4, 5]

In [ ]:
girdi = input("pls enter a word")
bos = []
for i in girdi:
  bos.append(i)
  bos.append("#")
a = "".join(bos)
print(a.strip("#"))

pls enter a wordankara
a#n#k#a#r#a

In [ ]:
girdi = input("pls enter a word:")
counter = 0
for i in girdi:
  counter +=1
  if counter < len(girdi):
    print(i, end="#")
  else:
    print(i)

pls enter a word:mememe
m#e#m#e#m#e

In [ ]:
dictim = {"name":"Yusuf", "surname":"Satilmis", "age":32}
for i in dictim.values():
  print(i)

Yusuf
Satilmis
32

In [ ]:
dictim = {
    "name":"Yusuf", 
    "surname":"Satilmis", 
    "age":32
    }

for i in dictim.items():
  print(i)
  print(type(i))

('name', 'Yusuf')
<class 'tuple'>
('surname', 'Satilmis')
<class 'tuple'>
('age', 32)
<class 'tuple'>

In [ ]:
dictim = {
    "name":"Yusuf", 
    ("surname",):"Satilmis", 
    "age":32
    }

for i,j in dictim.items():
  print(i,j)
  print(type(i), type(j))

name Yusuf
<class 'str'> <class 'str'>
('surname',) Satilmis
<class 'tuple'> <class 'str'>
age 32
<class 'str'> <class 'int'>

In [ ]:
girdi = list(map(str,input("Pls enter name and surname: ").split()))

name = []
surname = []
 
counter = 0
database = []
for i in girdi:
  if counter%2 == 0:
    i = [i]
    name.append(i)
  else:
    i=[i]
    surname.append(i)
  counter +=1
print(name)
print(surname)
for i,j in zip(name,surname):
  zipp = dict(zip(i,j))
  database.append(zipp)
print(database)

Pls enter name and surname: yusuf sat
[['yusuf']]
[['sat']]
[{'yusuf': 'sat'}]

In [ ]:
girdi = list(map(str,input("Pls enter name and surname: ").split()))

name = []
surname = []
 
counter = 0
database = []
for i in girdi:
  if counter%2 == 0:
    i = [i]
    name.append(i)
  else:
    i=[i]
    surname.append(i)
  counter +=1
print(name)
print(surname)
#for i,j in zip(name,surname):

#database.append(zipp)
zipp = list(zip(name,surname))
print(zipp)

Pls enter name and surname: yusuf sat
[['yusuf']]
[['sat']]
[(['yusuf'], ['sat'])]

In [ ]:
a = list(map(str,"yusuf satilmis"))
print(a)

['y', 'u', 's', 'u', 'f', ' ', 's', 'a', 't', 'i', 'l', 'm', 'i', 's']

In [ ]:
a = list(map(str,"yusuf satilmis".split()))
print(a)
bos = []
for i in a:
  i = [i]
  bos.append(i)
print(bos[0])

['yusuf', 'satilmis']
['yusuf']

In [ ]:
liste = [("a","b"), ("c","d")]
for x,y in liste:
  print(x,y)
  print(type(x),type(y))

a b
<class 'str'> <class 'str'>
c d
<class 'str'> <class 'str'>

In [ ]:
liste = [("a","b"), ("c","d")]
for x in liste:
  print(x)
  print(type(x),type(y))

('a', 'b')
<class 'tuple'> <class 'str'>
('c', 'd')
<class 'tuple'> <class 'str'>

In [ ]:
liste = [{"a":"b"}, {"c":"d"}]
for x,y in liste:
  print(x,y)
  print(type(x),type(y))

ValueError: ignored

In [ ]:
listem = []
for i in range(2,101):
  itsprime = True
  for x in range(2,i):
    if i%x ==0:
       itsprime = False
  if itsprime:
    listem.append(i)
print(listem)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [ ]:
def gene(x, y,z):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
    print(z, "belongs to Generation Z")

dict_gene = {'y' : "Marry", 'x' : "Fred", "z":"Max"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y
Max belongs to Generation Z

In [ ]:
(lambda x,y: x+y) (2,1)

3

In [ ]:
echo_word = (lambda x,y: x*y)
print(echo_word('hello', 3))

hellohellohello

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
def square(n):
  return n**2
a = [1,2,3,4,5]
result = map(square,a)
print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x,y,z:x+y+z,letter1,letter2,letter3)
print(tuple(numbers))

('one', 'six', 'ten', 'two')

In [ ]:
word1 = ["l","m"]
word2 = ["f","c"]
word3 = ["c","t"]
takim = map(lambda a,b,c:a+b+c, word1,word2,word3)
print(list(takim))

['lfc', 'mct']

In [ ]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x: x*3,number_list))
print(result)

[3, 6, 9, 12, 15]

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
even = filter(lambda x:x%2==0,first_ten)
print(list(even))

[0, 2, 4, 6, 8]

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x: True if x in vowel_list else False,first_ten)
print(tuple(vowels))

('a', 'e', 'i')

In [ ]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = filter(lambda x: x <=6, number_list)
print(list(result))

[1, 2, 3, 4, 5, 6]

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda