<a href="https://colab.research.google.com/github/Yusuf5001/Python-/blob/main/SELF_STUDY_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sorted_list(x, desc=True, n=2):
   new_x = sorted(x, reverse=desc)[0:n]
   return new_x





y=[2,3,1,4,5,7]
sorted_list(y, desc=False,n=4)

[1, 2, 3, 4]

In [5]:
student_number = int(input("Enter the number of students: "))

student = dict()
for i in range(student_number):
  student_info = input("Name of the student and grades: ")
  student_info = student_info.split() # ["John", "22", "22.1", "30"]
  student_name = student_info[0]
  student[student_name] = student_info[1:]


inquiry_student = input("Name of the student to return records: ")


sum_of_grades = 0
for grade in student[inquiry_student]:
  grade = float(grade)
  sum_of_grades +=grade
average_grade = sum_of_grades /3 
print(average_grade)

Enter the number of students: 2
Name of the student and grades: yusuf 22 20 12
Name of the student and grades: yuro 12 10 22
Name of the student to return records: yusuf
18.0

In [13]:
student_number = int(input("Enter the number of students: "))

student = dict()
for i in range(student_number):
  student_info = input("Name of the student and grades: ")
  student_info = student_info.split() # ["John", "22", "22.1", "30"]
  student_name = student_info[0]
  student[student_name] = map(float,student_info[1:])


inquiry_student = input("Name of the student to return records: ")


sum_of_grades = sum(student[inquiry_student])
average_grade = sum_of_grades / len(student.values())
print(average_grade)

Enter the number of students: 2
Name of the student and grades: jose 12 10 8
Name of the student and grades: josie 22 20 88
Name of the student to return records: jose
15.0

In [10]:
liste = [1,2,3,4,5]
print(list(map(str,liste)))

['1', '2', '3', '4', '5']

In [6]:
# Runner-up score

number = int(input("How many entiries: "))
listem = []
for i in range(number):
  new_entry= int(input("Enter the record: "))
  listem.append(new_entry)
  listem = list(set(listem))

listem.sort()
print(listem)
print(listem[-2])

How many entiries: 4
Enter the record: 1
Enter the record: 2
Enter the record: 3
Enter the record: 3
[1, 2, 3]
2

In [8]:
string = "Cuma"
print(sorted(string))
print("".join(sorted(string)))

['C', 'a', 'm', 'u']
Camu

In [10]:
# reverse every string in a list
strs = input("Pls enter a sentence as comma seperated: ")
strs = strs.split(", ")
print(strs)
for i in range(len(strs)):
  strs[i]= strs[i][::-1]
print(strs)

Pls enter a sentence as comma seperated: i, you, me, and, us
['i', 'you', 'me', 'and', 'us']
['i', 'uoy', 'em', 'dna', 'su']

In [12]:
strs = input("Pls enter a sentence as comma seperated: ")
strs = strs.split(", ")
reversed_strs = [i[::-1] for i in strs]
reversed_strs

Pls enter a sentence as comma seperated: yusuf, clarus

['fusuy', 'suralc']